/* Color Palette */
:root {
    --soft-color: rgba(0, 0, 0, 0.5);
    --softer-color: rgba(0, 0, 0, 0.2);
    --color-primary: rgb(0 216 255);
    --color-waring: green;
    --color-white: #fff;
    --color-danger: #ff0000;
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;
  }
  
  
  ::-webkit-scrollbar {
    display: none;
  }

  .body {
    background-color: #8bbf9f;
  }
  
  .body__container {
    width: 80vw;
    margin: 1rem auto;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top:100px;
    /* background-color: red; */
    /* border: 1px solid var(--softer-color); */
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    background-color: rgb(20, 129, 148);
    z-index: 2;
    width: 100%;
  }
  

  

/* header.jsx */
header {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  header .header__logo {
    width: 4rem;
    animation: rotate 2s linear infinite;
  }
  /* end header.jsx */



  /* Search Start */
.search__input {
    width: 300px;
    padding: 10px 20px;
    border-color: var(--color-primary);
    border-radius: 0.5rem;
  }
  .search__input:focus {
    outline: var(--color-primary);
  }
  /* Search End */
  
/* media queries */
@media screen and (max-width: 1040px) {
    .body__container {
      width: 95vw;
    }
    .nav {
      flex-direction: column;
    }
    .card__body {
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
    }
    .addproducts__container .left-side {
      width: 50%;
    }
    .addproducts__container .right-side {
      width: 50%;
    }
  }
  @media screen and (max-width: 400px) {
    .body__container {
      width: 100vw;
    }
    .nav-right {
      flex-direction: column;
    }
    .card__body {
      grid-template-columns: 1fr;
    }
    .addproducts__container .left-side {
      width: 0%;
    }
    .addproducts__container .right-side {
      width: 100%;
    }
  }
  @media print {
    .nav {
      display: none;
    }
    .card__body {
      display: none;
    }
    .addproducts__container .left-side {
      width: 100%;
    }
    .check-out-container {
      display: block;
    }
    .addproducts__container .right-side {
      display: none;
    }
  }

  /* header keyframes */
@keyframes showhide {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes hideshow {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* header keyFrames end */
  